{% extends "CEyeGuiBundle::base.html.twig" %}

{% block header %}
	<div class="jumbotron">
		<h1>Automation for Visual Verification</h1>
		<p class="lead">Take a look at your webpages before you deploy.</p>
	</div>
	<hr>
{% endblock %}

{% block content %}
Hello {{ name }}!
{% endblock %}
